{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CV</title>
        <link href="{% static 'index.css' %}" rel="stylesheet">
    </head>

    <body>
        
        <input type="button" onclick="location.href='http://127.0.0.1:8000/personal/index1';" value="Next page-->" />

        <h1 id = "mainHeading">EDUARDO SOTOMAYOR ACOSTA</h1>
        <h2 id = "subHeading"> Software Engineer</h2>
        <h2 id = "Bio">Bio</h2>
        <p id = "bioContent">Software - Mechatronics Engineer, with strong codding backgrounds of multiple OOP languages, SQL data base
            design and android apps development. Experienced in automotive industry achieving the improvement on the KPIs from sales department, attraction of new clients and projects for the company.
        </p>

        <h2 id = "conDetails">Contact Details</h2>
        <table>
            <tbody >
                <tr>
                    <td id = "condetails" >
                        <p style = "margin: 0; padding:0;">London, England | linkedin.com/in/eduardo-sotomayor-acosta | github.com/Edupster | sotomayored93@gmail.com | 07898870760</p>
                    </td>
                </tr>
            </tbody>
        <table>

        <h2 id = "Skills">Skills</h2>

        <table>
            <tbody style = "background-color: rgb(19, 29, 16)">
                <tr>
                    <td style = "color: rgb(255, 255, 255) ; text-align : center"><h3>Codding Skills</h3></td>
                    <td style = "color: rgb(255, 255, 255) ; text-align : center"><h3>| Software Skills |</h3></td>
                    <td style = "color: rgb(255, 255, 255) ; text-align : center"><h3>General Skills</h3></td>
                    
                </tr>

                <tr>
                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0;">C++</p>
                        <p style = "margin: 0; padding:0;">Java</p>
                        <p style = "margin: 0; padding:0;">Script</p>
                        <p style = "margin: 0; padding:0;">Oracle</p>
                        <p style = "margin: 0; padding:0;">Python</p>
                        <p style = "margin: 0; padding:0;">HTML</p>
                        <p style = "margin: 0; padding:0;">SQL</p>
                    </td>

                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0;">Android Studio</p>
                        <p style = "margin: 0; padding:0;">Visual Basic</p>
                        <p style = "margin: 0; padding:0;">Visual Studio</p>
                        <p style = "margin: 0; padding:0;">MatLab</p>
                        <p style = "margin: 0; padding:0;">Neurolab</p>
                    </td>

                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0;">Analytical Thinking</p>
                        <p style = "margin: 0; padding:0;">Technical Support</p>
                        <p style = "margin: 0; padding:0;">Problem Solving</p>
                        <p style = "margin: 0; padding:0;">Project Managment</p>
                        <p style = "margin: 0; padding:0;">Leadership</p>
                        <p style = "margin: 0; padding:0;">Work Under Pressure</p>
                    </td>
                    
                </tr>
            </tbody>
        <table>

        <h2 id = "Education">Education</h2>

        <table>
            <tbody >
                <tr>
                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0;">HYPERIONDEV DFE Software Engineering | Oct 2022 – Current</p>
                    </td>
                </tr>

                <tr>
                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0">TECNOLOGICO NACIONAL DE MEXICO | BEng in Mechatronics | Aug 2016- Jun 2021</p>
                    </td>
                </tr>

                <tr>
                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0">INSTITUTO POLITECNICO NACIONAL | Partial BEng in Aeronautics | Aug 2012- Jun 2016</p>
                    </td>
                </tr>
                
            </tbody>
        <table>

        
        <h2 id = "workEsperience">Work Esperience</h2>
        <table>
            <tbody >
                <tr>
                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0">SODEXO | Floor coordinator | Feb 2022- Current</p>
                    </td>
                </tr>
            </tbody>
        <table>
    
        <ul><li>Improving customer service delivered, meeting the client's quality standards.</li>
            <li>Implementation of a new follow up system for opened tickets (helpdesk).</li>
            <li>Increased of the client's satisfaction indicators.</li>
        </ul>

        <table>
            <tbody >
                <tr>
                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <p style = "margin: 0; padding:0;">COOPLE UK - VENTRICA | Customer Support Specialist | May 2021- Feb 2022</p>
                    </td>
                </tr>
            </tbody>
        <table>
    
        <ul><li>Promptly addressing high-volume website and social media account enquiries, converting sales to improve store revenue.</li>
            <li>Cultivating strong value-added relationships with customers, driving business development and profit potential.</li>
            <li>Meeting KPIs by efficiently handling enquiries while delivering genuine service.</li>
            <li>Customer corresponding, reducing communication delays for improved client satisfaction ratings.</li>
        </ul>

        <h2 id = "Projects">Projects</h2>

        <table>
            <tbody style = "background-color: rgb(19, 29, 16)">
                <tr>
                    <td style = "color: rgb(255, 255, 255) ; text-align : center"><h3>Github</h3></td>
                    
                </tr>

                <tr>
                    <td style = "text-align : center ; background-color: rgb(243, 243, 243)">
                        
                        <p style = "margin: 0; padding:0"><a target = "_blank" href = "https://github.com/Edupster/Semantic_Similarity"/>Semantic Similarity</a></li>
                        <p style = "margin: 0; padding:0"><a target = "_blank" href = "https://github.com/Edupster/Watch_Next"/>Semantic Recomendations</a></li>
                        
                        
                    </td>

         
                </tr>
            </tbody>
        <table>

        <h2 id = "Links">Links</h2>

        <table>
            <tbody >
                <tr>
                    <td style = "text-align : left ; background-color: rgb(243, 243, 243)">
                        <a target = "_blank" href = "https://www.linkedin.com/in/eduardo-sotomayor-acosta"/>Linkedin</a>
                    </td>
                </tr>
            </tbody>
        <table>

    </body>

  